.carousel {
  width: 100%;
  margin-bottom: $lh;
}

.carousel__cell {
  min-width: 700px;
  height: 100%;
  margin-right: 20px;

  height: 300px;

  @media (max-width: $width-breakpoint) {
    min-width: 0;
    height: 150px;
  }
}
