.nav {
  list-style-type: none;
  min-height: $lh * 2;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav__item {
  display: block;
  padding: 0 $lh;
  text-align: center;
  @include type-setting();
}

// Wordpress doesn't let us choose a class name for menu items
.menu-item {
  @extend .nav__item;
}

