
/*
 * STYLES AND FONTS
 */

html {
  font-family: "Oswald", "Hevletica Neue", sans-serif;
  line-height: $base-line-height;
  font-size: 20px;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.8);

  @media (max-width: $width-breakpoint) {
    font-size: 16px;
  }
}

p {
  @include type-setting();
  margin-top: 0;
  margin-bottom: $lh;
}

h1 {
  @include type-setting(2);
  margin-top: 0;
  margin-bottom: $lh * 0.5;
}

h2 {
  @include type-setting(1);
  margin-top: 0;
  margin-bottom: $lh * 0.5;
}

a {
  text-decoration: none;
  color: rgba(0,0,0,0.8);
  word-wrap: break-word; // Fix links that exceed the page's width
  @include underline(rgba(177,172,227,1), 0.4em, 0.1em);
}

sub, sup {
  font-size: 0.6rem;
  line-height: 0;
}
