$base-line-height: 1.5rem;
$lh: $base-line-height; // Shortcut

$type-scale: (
  0: 1rem,
  1: 1.333rem,
  2: 1.777rem,
);

$line-heights: (
  0: $base-line-height,
  1: map-get($type-scale, 1) * 1.5,
  2: map-get($type-scale, 2) * 1.4,
);

@mixin type-setting($level: 0) {
  font-size: map-get($type-scale, $level);
  line-height: map-get($line-heights, $level);
}

@mixin underline($color, $weight: 0.1em, $offset: 0) {
  background-image: linear-gradient(to bottom, $color 50%, transparent 50%);
  background-repeat: repeat-x;
  background-size: 2px $weight;
  background-position: 0 (1em - $weight - $offset);
}
