@import '_wp';
@import '_type';

// Global layout

$width-breakpoint: 740px;

body {
  margin: 0;
  background-color: white;
}

.wrapper {
  max-width: 960px;
  margin: $lh auto;
}

main {
  max-width: 720px;
  margin: 0 auto;
}

// Header

@import '_text';
@import '_article';
@import '_banner';
@import '_carousel';
@import '_feature';
@import '_menu';
@import '_wpimg';
