// Header of a full single article

.article-header {
  > .title {
    @extend %h1;
    text-align: center;
    margin: 0 0 $lh/2 0;
  }

  > .meta {
    @extend %font-serif;
    font-size: 0.8rem;
    text-align: center;
    margin: 0 0 $lh 0;
    color: rgba(0,0,0,0.5);
  }

  @media (max-width: $width-breakpoint) {
    box-sizing: border-box;
    padding: 0 $lh / 2;
  }
}
