// A vertical sequence of blocks.

.block-list {
  &.-margin {
    > .item {
      margin-bottom: $lh;
    }
  }

  &.-w720 {
    max-width: 720px;
    margin: 0 auto;
  }

  @media (min-width: $width-breakpoint) {
    &.-alternateX {
      > .item:nth-child(2n+0) {
        transform: translateX(-10px);
      }

      > .item:nth-child(2n+1) {
        transform: translateX(10px);
      }
    }
  }
}
