// The top bar contains the logo and the menu.

.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;

  > .logolink {
    @extend %link;
    display: block;
    margin: 0 $lh;
  }

  > .logolink > .logoimage {
    display: block;
    height: $lh * 2;
    width: auto;
  }

  > .menu {
    flex-grow: 1;
  }
}
